
@keyframes rotate3d {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.food-quotes{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #086708;
        text-align: center;
        margin-top: 10px;
    }